@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    background: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-1 {
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    height: 56px;
    align-items: start;
    justify-content: space-between;
    padding: 0px 24px 0px 24px;
}

.part-1 {
    display: inline-flex;
    width: 146px;
    height: 24px;
    gap: 2rem;
}

.part-2 {
    width: 130px;
    height: 34px;
    gap: 24px;
    opacity: 0px;
    padding: 0px, 24px, 0px, 24px;
}

.icon-1 {
    background-image: url(./img/menu.png);
    margin: 9px;
    width: 24px;
    height: 24px;
    top: 16px;
    left: 24px;
}

.icon-2 {
    background-image: url(./img/youtube\ 1.png);
    position: absolute;
    margin-left: 10px;
    width: 90px;
    height: 20px;
    top: 18px;
    left: 80px;
}

.icon-3 {
    background-image: url(./img/Center.png);
    position: relative;
    justify-content: center;
    width: 404px;
    height: 40px;
    left: 0;
    border: 1 solid #CCCCCC;
}

.icon-4 {
    background-image: url(./img/video.png);
    position: absolute;
    justify-content: flex-end;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 110px;
}

.icon-5 {
    background-image: url(./img/bell.png);
    position: absolute;
    justify-content: flex-end;
    width: 24px;
    height: 24px;
    top: 16px;
    right: 70px;
}

.icon-6 {
    background-image: url(./img/Sem\ Título-1.png);
    position: absolute;
    justify-content: flex-end;
    border-radius: 90%;
    width: 34px;
    height: 34px;
    right: 20px;
}

.sidebar {
    position: fixed;
    display: grid;
    grid-column: 9;
    grid-row: 1;
    left: 42px;
    width: 218px;
    height: 968px;
    top: 56px;
    gap: 22px;
}

.item-0 {
    background-image: url(./img/home.png);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 30px;
    left: 0px;
}

b {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    text-align: left;
    position: absolute;
    left: 32px;
    top: 6px;
}

.item-1 {
    background-image: url(./img/compass.png);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 70px;
    left: 0px;
}

.id-1 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 16.41px;
    text-align: left;
    position: absolute;
    left: 34px;
    top: -8px;
}

.item-2 {
    background-image: url(./img/youtube.png);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 110px;
    left: 0px;
}

.id-2 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 16.41px;
    text-align: left;
    position: absolute;
    left: 34px;
    top: -8px;
}

.item-3 {
    background-image: url(./img/disc.png);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 150px;
    left: 0px;
}

.id-3 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 100px;
    line-height: 16.41px;
    text-align: left;
    position: absolute;
    left: 34px;
    top: -8px;
}

.item-4 {
    background-image: url(./img/thumbs-up.png);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 190px;
    left: 0px;
}

.id-4 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 150px;
    line-height: 16.41px;
    text-align: left;
    position: absolute;
    left: 34px;
    top: -8px;
}

.item-5 {
    background-image: url(./img/clock.png);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 230px;
    left: 0px;
}

.id-5 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 150px;
    line-height: 16.41px;
    text-align: left;
    position: absolute;
    left: 34px;
    top: -8px;
}

.item-6 {
    background-image: url(./img/download.png);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 270px;
    left: 0px;
}

.id-6 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 150px;
    line-height: 16.41px;
    text-align: left;
    position: absolute;
    left: 34px;
    top: -8px;
}

.item-7 {
    background-image: url(./img/film.png);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 310px;
    left: 0px;
}

.id-7 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 150px;
    line-height: 16.41px;
    text-align: left;
    position: absolute;
    left: 34px;
    top: -8px;
}

.item-8 {
    background-image: url(./img/book.png);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 350px;
    left: 0px;
}

.id-8 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 150px;
    line-height: 16.41px;
    text-align: left;
    position: absolute;
    left: 34px;
    top: -8px;
}

.item-9 {
    background-image: url(./img/award.png);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 390px;
    left: 0px;
}

.id-9 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 150px;
    line-height: 16.41px;
    text-align: left;
    position: absolute;
    left: 34px;
    top: -8px;
}

.container-2 {
    position: absolute;
    left: 310px;
    height: 200px;
    top: 90px;
    padding: 30px;
    gap: 29px;
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: repeat(3, 280px);
    grid-template-columns: repeat(4, 280px);
}

.video-1 {
    background-image: url(./img/image\ 1.png);
    width: 250px;
    height: 140.29px;
    gap: 0px;
    opacity: 0px;
    background-repeat: no-repeat;
}

.img-1 {
    background-image: url(./img/Channel\ Avatar.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 180px;
    left: 35px;
    width: 200px;
    height: 74px;
}

#vd-1 {
    position: absolute;
    top: 183px;
    left: 90px;
    width: 200px;
    height: 74px;
    gap: 10px;
    opacity: 0px;
}

.p-1 {
    position: absolute;
    top: 210px;
    left: 90px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #515151;
}

.video-2 {
    background-image: url(./img/image\ 2.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 140.29px;
    gap: 0px;
    opacity: 0px;
}

.img-2 {
    background-image: url(./img/Channel\ Avatar.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 180px;
    left: 345px;
    width: 200px;
    height: 74px;
}

#vd-2 {
    position: absolute;
    top: 183px;
    left: 400px;
    width: 200px;
    height: 74px;
    gap: 10px;
    opacity: 0px;
}

.p-2 {
    position: absolute;
    top: 200px;
    left: 400px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #515151;
}

.video-3 {
    background-image: url(./img/image\ 3.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 140.29px;
    gap: 0px;
    opacity: 0px;
}

.img-3 {
    background-image: url(./img/Channel\ Avatar.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 180px;
    left: 650px;
    width: 200px;
    height: 74px;
}

#vd-3 {
    position: absolute;
    top: 183px;
    left: 702px;
    width: 200px;
    height: 74px;
    gap: 10px;
    opacity: 0px;
}

.p-3 {
    position: absolute;
    top: 210px;
    left: 702px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #515151;
}

.video-4 {
    background-image: url(./img/image\ 4.png);
    background-repeat: no-repeat;
}

.img-4 {
    background-image: url(./img/Channel\ Avatar.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 180px;
    left: 962px;
    width: 200px;
    height: 74px;
}

#vd-4 {
    position: absolute;
    top: 183px;
    left: 1015px;
    width: 200px;
    height: 74px;
    gap: 10px;
    opacity: 0px;
}

.p-4 {
    position: absolute;
    top: 210px;
    left: 1015px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #515151;
}

.video-5 {
    background-image: url(./img/image\ 3.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 140.29px;
    gap: 0px;
    opacity: 0px;
}

.img-5 {
    background-image: url(./img/Channel\ Avatar.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 490px;
    left: 35px;
    width: 200px;
    height: 74px;
}

#vd-5 {
    position: absolute;
    top: 490px;
    left: 90px;
    width: 200px;
    height: 74px;
    gap: 10px;
    opacity: 0px;
}

.p-5 {
    position: absolute;
    top: 520px;
    left: 90px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #515151;
}

.video-6 {
    background-image: url(./img/image\ 2.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 429px;
    left: 649px;
    width: 250px;
    height: 140.29px;
    gap: 0px;
    opacity: 0px;
}

.img-6 {
    background-image: url(./img/Channel\ Avatar.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 150px;
    left: 5px;
    width: 200px;
    height: 74px;
}

#vd-6 {
    position: absolute;
    top: 155px;
    left: 60px;
    width: 200px;
    height: 74px;
    gap: 10px;
    opacity: 0px;
}

.p-6 {
    position: absolute;
    top: 170px;
    left: 60px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #515151;
}

.video-7 {
    background-image: url(./img/image\ 1.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 429px;
    left: 958px;
    width: 250px;
    height: 140.29px;
    gap: 0px;
    opacity: 0px;
}

.img-7 {
    background-image: url(./img/Channel\ Avatar.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 150px;
    left: 5px;
    width: 200px;
    height: 74px;
}

#vd-7 {
    position: absolute;
    top: 155px;
    left: 60px;
    width: 200px;
    height: 74px;
    gap: 10px;
    opacity: 0px;
}

.p-7 {
    position: absolute;
    top: 180px;
    left: 60px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #515151;
}

.video-8 {
    background-image: url(./img/image\ 4.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 429px;
    left: 1267px;
    width: 250px;
    height: 140.29px;
    gap: 0px;
    opacity: 0px;
}

.img-8 {
    background-image: url(./img/Channel\ Avatar.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 150px;
    left: 5px;
    width: 200px;
    height: 74px;
}

#vd-8 {
    position: absolute;
    top: 155px;
    left: 60px;
    width: 200px;
    height: 74px;
    gap: 10px;
    opacity: 0px;
}

.p-8 {
    position: absolute;
    top: 180px;
    left: 60px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #515151;
}